.footerBox {
  width: 100%;
  height: 100%;
  position: relative;
}
.footerBox .navList {
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  bottom: 0;
  background-color:#ccc;
  z-index: 99;
}
.footerBox .navList li {
  flex: 1;
  line-height: 50px;
  text-align: center;
}
.footerBox .navList li a {
  color: slategray;
}
